extends ./layout/index

block slider
    .slider
        h1 R&iacute;o de Janeiro
        em Aventura

block content
    main.container.mt-5
    h2.text-center.mt-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis mauris accumsan orci iaculis, at interdum leo feugiat. Phasellus interdum sem nisi, a dictum ipsum posuere eu. Pellentesque vel elementum velit, a pharetra mi. Donec gravida rutrum lacus, ac egestas orci efficitur ac
                p Nam viverra urna ut metus facilisis luctus. Nam mollis quam sit amet diam blandit tincidunt. Cras volutpat suscipit tincidunt. Proin suscipit pharetra felis, in gravida urna volutpat ullamcorper. Sed sodales semper arcu id viverra. Aliquam tempor dolor sit amet ultrices hendrerit.
            .col-md-6
                img.img-fluid(src='/img/inicio_nosotros.jpg', alt='Nosotros')

        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2024
                        p.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales