extends ./layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src='img/nosotros.jpg', alt='Nosotros')
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo sit amet nisi facilisis pulvinar. Phasellus sollicitudin, erat vel convallis accumsan, sapien nisl auctor nibh, eu porttitor purus justo mollis lectus. Aenean sit amet tincidunt libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis, nibh et auctor pellentesque, metus ex lobortis eros, vel facilisis urna tortor quis ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae

                p Etiam dapibus, dui nec gravida vulputate, elit nibh mollis sapien, nec congue neque urna at nunc. Morbi tincidunt, odio non tincidunt porta, justo ex gravida leo, id gravida felis eros eget sem. Phasellus ut gravida ligula. Ut rhoncus purus non dolor suscipit vulputate. Fusce euismod urna nunc, eu hendrerit magna elementum vitae. Pellentesque volutpat nunc in tempus venenatis. Sed faucibus tristique ante et pretium. Nunc sollicitudin porta finibus. Nullam mattis erat eget felis interdum, in finibus elit ultrices. Cras imperdiet vehicula mauris, ut finibus ante consectetur in.

                p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam et elit ac purus lacinia sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum imperdiet lorem nec scelerisque porta. Donec eu massa eu ex sagittis varius. Donec sollicitudin mollis sapien, et tristique enim malesuada eget. Phasellus non blandit ante. Integer sed semper dui.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src='img/icono_seguridad.svg', alt='Icono seguridad')
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo sit amet nisi facilisis pulvinar. Phasellus sollicitudin, erat vel convallis accumsan, sapien nisl auctor nibh, eu porttitor purus justo mollis lectus. Aenean sit amet tincidunt libero.

                .col-md-4
                    img.img-fluid.mb-4(src='img/icono_destinos.svg', alt='Icono calidad')
                    h2.mb-4  Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo sit amet nisi facilisis pulvinar. Phasellus sollicitudin, erat vel convallis accumsan, sapien nisl auctor nibh, eu porttitor purus justo mollis lectus. Aenean sit amet tincidunt libero.

                .col-md-4
                    img.img-fluid.mb-4(src='img/icono_precio.svg', alt='Icono mejor precio')
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo sit amet nisi facilisis pulvinar. Phasellus sollicitudin, erat vel convallis accumsan, sapien nisl auctor nibh, eu porttitor purus justo mollis lectus. Aenean sit amet tincidunt libero.